@page
@model Proiect3.Pages.Folders.IndexModel
@{
    ViewData["Title"] = "Index";
}
    
    <h1 class="display-4">MyPhotos > Folders</h1>
    <p>Click on the Folder name to see all the photos:</p>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Folders[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Folders[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Folders[0].Location)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Folders[0].Date)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Folders)
            {
                <tr data-toggle="collapse" data-target="#demo@(item.Id)" class="accordion-toggle">
                    <td data-toggle="collapse">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        <a asp-page="/Files/Index" asp-route-id="@item.Id" asp-route-sortOrder="Name">@Html.DisplayFor(modelItem => item.Name)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Location)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
                <tr>
                    <td colspan="6" class="hiddenRow">
                        <div class="accordian-body collapse" id="demo@(item.Id)">
                            @Html.DisplayFor(modelItem => item.Files)
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

